
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    font-family: 'Inter';
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
    background-color: #1f1d2c;
    position: relative;
}



header {
    width: 80%;
    background: #1f1d2c;

}

#btn-menu {
    display: none;
    color: white;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #1f1d2c;
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu nav{
    justify-content: end;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.menu li {
    text-align: left;
    flex-grow: 1;
    margin-left: 1rem;
}

.menu li a {
    display:flex;
    padding: 15px 5px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    color: #f1a600;
}

@media (max-width:768px) {
    header label {
        display: block;
        
    }
    .menu {
        
        position: absolute;
        background: #1f1d2c;
        width: 30%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
        
    }
    .menu li {
        border-top: 1px solid #fff;
        text-align: left;
        
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
        
    }
    
    
}


.cuadro1 {
    display: flex;
    background-color:#242635;
    z-index: 11;
    width: 460px;
    min-height: 400px;
    float: right;
}

.cuadro1 img {
    margin-left: 6.5rem;
    margin-top: 3rem;
}

#nombre h2 {
    font-size: 70px;
    color: white;
    z-index: 23;
    margin-top: 6rem; 
    margin-left: 3rem;
}

.ing > h5 {
    font-size: 30px;
    left: 10px;
    color: white;
    margin-left: 3rem;
}

@media (max-width: 480px) {
    #nombre h2 {
        font-size: 40px;
        color: white;
        z-index: 23;
        margin-top: 6rem; 
    }
    
    .ing > h5 {
        font-size: 20px;
        left: 10px;
        color: white;
    }
}

.color5 {
    color:#f1a600;
    
}

#nombre .CV {
    margin-left: 3rem;
    margin-top: 3rem;
}

.iconos{
    align-items: stretch;
    display: inline;
    margin-left: 3rem;
}

.cuadro2 {
    display: grid;
    margin-top: 6rem;
    background-color: #242635;
    color: white;

    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "acerca acerca acerca"
                         "p p p"
                         "logo1 . logo2";
}

.cuadro2 > .acerca {
    width: 100%;
    font-size: 40px;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

.cuadro2 > p {
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
    grid-column: 1/4;
    grid-row: 2/3;
}

.cuadro2  .logo1 {
    margin-top: 2rem;
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    justify-content: center;
}

.logo1 img {
    margin-left: 1.5rem;
}

.cuadro2  .logo2 {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    justify-content: center;
}

.logo2 img {
    align-items: center;
}

@media (max-width: 480px ) {
    .cuadro2 > .acerca {
        width: 100%;
        font-size: 30px;
        text-align: center;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .cuadro2 > p {
        font-size: 15px;
        text-align: center;
        margin-top: 2rem;
        grid-column: 1/4;
        grid-row: 2/3;
        margin-bottom: 4rem;
    }
    .cuadro2 > .logo1 {
       
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
        
    }
    
    .cuadro2  .logo3 {
        width: 100px;
        display: grid;
        grid-column: 3/4;
        grid-row: 3/4;
        
    }
}

.experiencia {
    background-color: #1f1d2c;
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-template-areas: "experiencia experiencia experiencia experiencia"
                         "dos tres cuatro once"
                         "cinco seis siete once"
                         "ocho nueve diez once";
}

.experiencia .dos,
.experiencia .tres,
.experiencia .uno,
.experiencia .cuatro,
.experiencia .cinco,
.experiencia .seis,
.experiencia .siete,
.experiencia .ocho,
.experiencia .nueve,
.experiencia .diez,
.experiencia .once {
    position: relative;
}

.experiencia .uno {
    background-color: #1f1d2c;
    color: white;
    font-size: 40px;
    grid-area: experiencia;
}

.experiencia .dos {
    align-items: center;
    grid-area: dos;
    z-index: 22;
}

.experiencia .tres {
    background-color: #1f1d2c;
    color: white;
    grid-area: tres;
    
}

.experiencia .cuatro {
    background-color: #1f1d2c;
    color: white;
    grid-area: cuatro;
}

.experiencia .cinco {
    background-color: #1f1d2c;
    
    grid-area: cinco;
}

.experiencia .seis {
    background-color: #1f1d2c;
    color: white;
    grid-area: seis;
}

.experiencia .siete {
    background-color: #1f1d2c;
    grid-area: siete;
    color: white;
}

.experiencia .ocho {
    background-color: #1f1d2c;
    
    grid-area: ocho;
}

.experiencia .nueve {
    background-color: #1f1d2c;
    color: white;
    grid-area: nueve;
}

.experiencia .diez {
    background-color: #1f1d2c;
    color: white;
    grid-area: diez;
}

.experiencia .once {
    background-color: #1f1d2c;
    color: white;
    grid-area: once;
    align-items: center;
}

.mis_habilidades {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 40px;
}

/* Inicio media query 1 */

@media (max-width:768px) {
    .mis_habilidades h2 {
        
        color: rgb(65, 49, 49);
        font-size: 35px;
        
    } 
    .habilidades1 .cinco {
        grid-area: cinco;
        text-align: left;
        color: white;
        font-size: 2rem;
    }
    
    .habilidades1 .seis {
        grid-area: seis;
        text-align: left;
        color: white;
        font-size: 2rem;
    }
    
    .habilidades1 .siete {
        grid-area: siete;
        text-align: left;
        color: white;
        font-size: 2rem;
    }
    
    .habilidades1 .ocho {
        grid-area: ocho;
        text-align: left;
        color: white;
        font-size: 2rem;
    }
}

/* Fin media query 1 */

.habilidades1 {
    display: grid;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 3fr);
    grid-template-areas: "mis_habilidades mis_habilidades ."
                         "uno cinco cinco"
                         "dos seis seis"
                         "tres siete siete"
                         "cuatro ocho ocho";
}

.habilidades1 .mis_habilidades,
.habilidades1 .uno,
.habilidades1 .dos,
.habilidades1 .tres,
.habilidades1 .cuatro,
.habilidades1 .cinco,
.habilidades1 .seis,
.habilidades1 .siete,
.habilidades1 .ocho {
    position: relative;
}

.habilidades1 > .mis_habilidades {
    left: 30px;
}

.habilidades1 {
    color: #f1a600;
    font-family: 'Inter';
    font-size: 3rem;
    text-align: right;
}

.habilidades2 {
    color: white;
    font-family: 'Inter';
    font-weight: bold;
}

.habilidades1 .mis_habilidades {
    grid-area: mis_habilidades;
}

.habilidades1 .uno {
    grid-area: uno;
    background-color: #242635;
    margin-right: 1rem;
}

.habilidades1 .dos {
    grid-area: dos;
    background-color: #242635;
    margin-right: 1rem;
}

.habilidades1 .tres {
    grid-area: tres;
    background-color: #242635;
    margin-right: 1rem;
}

.habilidades1 .cuatro {
    grid-area: cuatro;
    background-color: #242635;
    margin-right: 1rem;
}

.habilidades1 .cinco {
    grid-area: cinco;
    text-align: left;
    color: white;
    
}

.habilidades1 .seis {
    grid-area: seis;
    text-align: left;
    color: white;
    
}

.habilidades1 .siete {
    grid-area: siete;
    text-align: left;
    color: white;
    
}

.habilidades1 .ocho {
    grid-area: ocho;
    text-align: left;
    color: white;
    
}

.miportafolio h2 {
    font-size: 40px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.back1{
    background-color: #f1a600;
    width: 380px;
    height: 350px;
    margin-left: 3.7rem;
}

.back1 > img{
    width: 350px;
    height: 350px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.back1 h3 {
    color: white;
    
}

.back2{
    background-color:#242635;
    width: 380px;
    height: 350px;
    margin-top: 7rem;
    margin-left: 3.7rem;
}

.back2 > img{
    width: 350px;
    height: 350px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.back2 h3 {
    color: white;
    
}

.back3{
    background-color: #f1a600;
    width: 380px;
    height: 350px;
    margin-top: 7rem;
    margin-left: 3.7rem;
}

.back3 > img{
    width: 350px;
    height: 350px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.back3 h3 {
    color: white;
    
}

/* Inicio media query 2*/

@media (max-width:768px) {
   
    .back1{
        background-color: #f1a600;
        width: 280px;
        height: 250px;
        
    }
    
    .back1 > img{
        width: 250px;
        height: 250px;
        
    }
    
    .back1 h3 {
        color: white;
        
    }
    
    .back2{
        background-color:#242635;
        width: 280px;
        height: 250px;
        
    }
    
    .back2 > img{
        width: 250px;
        height: 250px;
        
    }
    
    .back2 h3 {
        color: white;
        
    }
    
    .back3{
        background-color: #f1a600;
        width: 280px;
        height: 250px;
        
    }
    
    .back3 > img{
        width: 250px;
        height: 250px;
    }
    
    .back3 h3 {
        color: white;
    } 
}
/*fin media query 2*/

.contacto {
    margin-top: 20px;
}

.cuadro3 {
    display: grid;
    background-color: rgba(67, 70, 90, 0.2);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: ". contacto contacto ."
                         "phone mail ."
                         "phone mail .";
}

.cuadro3 > h2 {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 40px;
}

.cuadro3 > .phone {
    grid-column: 2/3;
    grid-row: 2/4;
}

.cuadro3 > .mail {
    grid-column: 3/4;
    grid-row: 2/4;
}

.academlo > p {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 4rem;
}